.red {
    color: red;
}

.bold {
    font-weight: bold;
}

/* apply style on every button element (tag selector) inside App class */
/* .Button { */
.Cockpit button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;

}
/* .Button:hover { */
.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
}

/* .Button.Red { */
.Cockpit button.Red {
    background-color: red;
}
/* .Button.Red:hover { */
.Cockpit button.Red:hover {
    background-color: salmon;
}